* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  background-color: #e1e1e1;
  color: #222222;
  font-size: 14pt;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input, button, table, textarea {
  font: 400 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  resize: vertical;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.back-link {
  display: flex;
  text-align: center;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

.back-link svg {
  margin-right: 8px;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
