* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  background-color: #e1e1e1;
  color: #222222;
  font-size: 14pt;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
